<div class="row"> 
	<div class="col-xs-12 col-md-12"> 
		<div class="thumbnail" style="position: relative;"> 
			<span ng-click="remove($index)" class="remove glyphicon glyphicon-remove" style="display: none; position: absolute; top: 0; right: 0; z-index: 100; font-size: 175%; cursor: pointer;"></span>
			<img ng-if="image" ng-src="{{info.imageUrls[0]}}" /> 
			<div ng-if="carousel" id="{{carouselId}}" class="carousel slide" data-ride="carousel"> 
				<ol class="carousel-indicators"> 
					<li ng-repeat="image in info.imageUrls" data-target="#{{carouselId}}" data-slide-to="{{$index}}" class="{{$index === 0 ? 'active' : '' }}"></li> 
			  </ol> 
				<div class="carousel-inner"> 
					<div class="item {{$index === 0 ? 'active' : ''}}" ng-repeat="image in info.imageUrls">
						<img ng-src="{{image}}" />
					</div>
				</div> 
			</div> 
			<div class="caption" ng-bind-html="info.body">
			</div> 
		</div> 
	</div> 
</div>