<div style="position: relative; width: 100%; padding: 5px 15px 0 15px; font-family: Menlo,Monaco,Consolas,monospace;">
	<span class="remove glyphicon glyphicon-remove" style="display: none; position: absolute; top: 5px; right: 15px; z-index: 1000; font-size: 175%; cursor: pointer;"></span>

	<div style="margin-top: 10px;">
		<img ng-if="image" ng-src="{{info.imageUrls[0]}}" style="width: 100%;"/> 
		<div ng-if="carousel" id="{{carouselId}}" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators"> 
				<li ng-repeat="image in info.imageUrls" data-target="#{{carouselId}}" data-slide-to="{{$index}}" class="{{$index === 0 ? 'active' : '' }}"></li> 
		  </ol> 
			<div class="carousel-inner"> 
				<div class="item {{$index === 0 ? 'active' : ''}}" ng-repeat="image in info.imageUrls">
					<img ng-src="{{image}}" />
					<div class="carousel-caption">
						<h3 ng-bind-html="info.imageTexts[$index] || ''"></h3>
					</div>
				</div>
			</div> 
		</div>
	</div>
	
	<h4 ng-bind-html="info.title"></h4>
	<p ng-bind-html="info.body" style="text-align: justify;"></p>
	<div style="border-bottom: 1px solid #ddd;"></div>
</div>